{{#each items}}
<li><a href="../food/food-detail.html?code={{code}}">
	<div class="img"><img src="{{formatListImage pic}}"/></div>
	<div class="title t-3dot plr10">{{name}}</div>
	<div class="con wp100 plr10"><img class="fl" src="/static/images/地址.png"><p>{{formatAddress province}}</p></div>
	<div class="price plr10"><p><i>￥{{price}}</i>起</p></div>
</a></li>
{{/each}}
